<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="static/openseadragon/openseadragon.min.js"></script>
    <script src="js/vertical_tab.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body onload="clickTabOnLoad()">
<div id="Title">
    <h1>Hyperscope</h1>
    <p>
    automated generation of high resolution microscope imagery (hopefully)
    <br><br><a href="https://github.com/momonala/hyperscope"> check out the project and source code here. </a>
    </p>
    <button onclick="toggleVerticalNavTab()">Toggle Navigation Bar</button>
</div>

<div class="tab", id="verticalNavTab">
    {% for sample in samples %}
        {% if loop.index == 1 %}
    <button class="tablinks" onclick="openSample(event, '{{sample[0]}}')" id="defaultOpen">{{sample[1]}}</button>
    {% else %}
    <button class="tablinks" onclick="openSample(event, '{{sample[0]}}')">{{sample[1]}}</button>
        {% endif %}
    {% endfor %}
</div>

{% for sample in samples %}
<div id="{{sample[0]}}" class="tabcontent">
<h3> {{sample[1]}} </h3>
<div id="{{sample[0]}}_osd" class="renderer"></div>
<script>
var viewer = OpenSeadragon({
    id:                  '{{sample[0]}}_osd',
    prefixUrl:           'static/openseadragon/images/',
    tileSources:         'dzi/{{sample[0]}}.dzi',
    immediateRender:     'true',
    showNavigator:       'true',
    visibilityRatio:     '1.0',
    constrainDuringPan:  'true',
});
</script>
</div>

{% endfor %}
<div><h4><br>created by Mohit Nalavadi</h4></div>

</body>
</html>
